
.contact{
    margin: 3rem 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.contact h3{
    color: #4a535b;
    font-size: 2rem;
    margin-bottom: 1.5rem;
}
.whatsapp{
    margin-top: 1rem;
    text-align: center;
    border-radius: 5rem;
    width: 14rem;
    padding: 1rem;
    font-size: 1.2rem;
    border: 1px solid #4a535b;
    color: #4a535b;
    transition: 0.5s;
}

.fa-whatsapp,
.fa-envelope,
.fa-phone,
.contactInfo{
    color: #4a535b; 
    font-size: 1.2rem;
}

.contactInfo{
    padding: 0.5rem 0;
}

.whatsapp:hover{
transform: scale(1.1);
transition: 0.5s;
}